<form>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <input type="text" name="nome" pInputText placeholder="Username" [(ngModel)]="user.nome">
            </div>
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <input type="email" name="email" pInputText placeholder="Email" [(ngModel)]="user.email">
            </div>
        </div>
    </div>

    <div>
        <button pButton (click)="save()" label="Save"></button>
    </div>

    {{ user | json }}
</form>
