<div>{{singleUser.nome}}</div>

<p-table [value]="users">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{user.nome}}</td>
            <td>{{user.email}}</td>
            <td>
                <button pButton (click)="delete(user.id)" class="ui-button-danger" label="Delete"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<div>
  <button pButton type="button" label="Add" routerLink="add"></button>
</div>

<!--<p-confirmDialog header="Warning" icon="pi pi-exclamation-triangle"></p-confirmDialog>-->
<p-confirmDialog #cd header="Warning" icon="pi pi-exclamation-triangle">
    <p-footer>
        <button type="button" pButton icon="pi pi-check" label="Ja" (click)="cd.accept()"></button>
        <button type="button" pButton icon="pi pi-times" label="Niet" (click)="cd.reject()"></button>
    </p-footer>
</p-confirmDialog>
