<p>
  state works!
</p>
<table>
  <tr>
    <th>Id</th>
    <th>Initials</th>
    <th>Name</th>
  </tr>
  <tr *ngFor="let state of states">
    <td>{{state.id}}</td>
    <td>{{state.sigla}}</td>
    <td>{{state.nome}}</td>
  </tr>
</table>